.weather{
    width:300px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 /30%);
    color:#fff;
    background-color:#040133;
    margin:20px auto 0 auto;
    padding:0px 20px 20px 20px;
}
.top,
.buttom {
    margin:15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.city{
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    padding-top:5PX;
    letter-spacing: 1px;
}
.weather-description{
    font-weight: 400;
    font-size: 14px;
    line-height:1;
    margin:0
}
.weather-icon{
    width:70px;
    padding-top:15px;
    color: transparent;
}
.temperature{
    font-weight: 600;
    font-size:35px;
    width:auto;
    margin:7px ;
    color:cornsilk;
    
}
.datails{
    width: 100%;
    padding-left:20px;
}
.parametr-row{
    display:flex;
    justify-content: space-between;


}
.parametr-label{
text-align:left;
font-weight: 400;
font-size: 15px;
margin-right:20px;
color:lawngreen
}
.parametr-value{
    text-align: right;
    font-weight: 600;
    font-size: 15px;
    color:#fff
}
.parametr-label.top{
    border-bottom: 1px solid #fff;
}
